.postcodeSearchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

input {
  width: 100%;
  margin-right: 8px;
  padding: 8px;
  border: none;
  border-radius: 15px;
}

form {
  display: flex;
  width: 70%;
  align-items: center;
}

.icon {
  margin-right: 10px;
  color: #ff8000;
}

button {
  background-color: black;
  border-radius: 15px;
  border-width: 0;
  color: whitesmoke;
  padding: 7px;
  font-size: 0.8rem;
}

.inputError {
  font-size: 0.8rem;
}

h2 {
  align-self: flex-start;
  font-size: 1.3rem;
}
